.container .right_side{
    position: relative;
    background: #fff;
    padding: 4rem;
    
}
.about{
    margin-bottom: 5rem;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: justify;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 0rem;
}
.about .box .year_company{
    min-width: 15rem;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 1.3rem;
    font-weight: 800;
}

/* Skills Css starts from here.*/
.skills .box{
    position: relative;
    display: grid;
    grid-template-columns: 15rem 1fr;
    justify-content: center;
    align-items: baseline;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 1rem;
    background: #f0f0f0;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.button{
    color: #848c99;
    font-weight: 800;
    font-size: 1.2rem;
    font-style: italic;
    text-transform: uppercase;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 800;
    margin: 1rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.interest ul li .fa{
    color: #03a9f4;
    width: 2rem;
}